# contains bot key, very important that it is ignored
.env

# something added by pycharm, probably good to ignore
.idea/

# just not nessicary to add to git
venv/

# just dont really need the error log
err.log